<div class="space"></div>
<div class="_3d_printing p-md-5 p-3">
  <div class="container-md">
    <div class="head text-center position-relative">
      <div class="head__layer">3d printing</div>
      <h2 class="position-absolute">3D PRINTING</h2>
    </div>
    <div class="row gy-4">
      <div class="col-md-3">
        <div class="start__card px-5 py-4">
          <span class="px-5 highlight">3D </span>PRINTING
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing1.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing2.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing3.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing4.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing5.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing6.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing7.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2 rounded-4">
          <div class="item rounded-4">
            <img src="./3d_printing/printing8.jpg" class="rounded-4" alt="3d_printing">
            <div class="layer rounded-4">
              <div class="name fs-5 text-white">
                Boot stand for phone
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
